<!-- container -->
<div class="container">
    <div class="row">
        <div class="col-md-3">
            
        </div>
        <div class="col-md-9">
            <div class="row"> 
                <br>   
                <br>   
                <br>   
                <br>   
                <div class="container" style="margin-top:40px">
                    <div class="row">
                        <!-- Admin Panel Login Form -->
                        <div class="col-sm-6 col-md-4 col-md-offset-2">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <strong> Sign in to continue</strong>
                                </div>
                                <div class="panel-body">
                                    <!-- Admin Login Form -->
                                    <form role="form" #adminLogin="ngForm" (ngSubmit)="onSubmit(adminLogin.value)">
                                        <fieldset>
                                            <div class="row">
                                                <div class="center-block">
                                                    <img class="profile-img"
                                                        src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120" alt="">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12 col-md-10  col-md-offset-1 ">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="glyphicon glyphicon-user"></i>
                                                            </span> 
                                                            <input class="form-control" placeholder="Username" name="login" type="text" autofocus ngModel>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="glyphicon glyphicon-lock"></i>
                                                            </span>
                                                            <input class="form-control" placeholder="Password" name="password" type="password" ngModel>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="submit" class="btn btn-lg btn-primary btn-block" value="Sign in">
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </form>
                                    <!-- ./ Admin Login Form -->
                                </div>
                                <div class="panel-footer ">
                                    Don't have an account! <a href="#" onClick=""> Sign Up Here </a>
                                </div>
                            </div>
                        </div>
                        <!-- ./ Admin Panel Login Form -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.container -->

<div class="container">
    <hr>
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Your Website 2014</p>
            </div>
        </div>
    </footer>
    <!-- Footer -->
</div>
<!-- /.container -->