<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-md-3">
            <sidebar></sidebar>
        </div>

        <div class="col-md-9">
            
            <div class="row">
                <br><br>
                <br>
                <div class="thumbnail">
                    <div class="caption-full">
                    
                        <h1>Shopping Cart</h1><hr>
                        <table *ngIf="cart.length !== 0" class="table table-striped table-hover table-bordered">
                            <tbody>
                                <tr>
                                    <th class="col-md-1">#</th>
                                    <th class="col-md-8">Item</th>
                                    <th class="col-md-1">QTY</th>
                                    <th class="col-md-1">Unit Price</th>
                                    <th class="col-md-1">Total Price</th>
                                </tr>
                                <tr *ngFor = "let item of cart">
                                    <td col-md-1>
                                        <a (click)="removeFromCart(item)" class="btn btn-danger"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>
                                    </td>
                                    <td>{{ item.nom }}</td>
                                    <td>1 <a href="#">X</a></td>
                                    <td>£{{ item.prix }}</td>
                                    <td>£250.00</td>
                                </tr>
                                <tr>
                                    <th colspan="4"><span class="pull-right">Sub Total</span></th>
                                    <th>£250.00</th>
                                </tr>
                                <tr>
                                    <th colspan="4"><span class="pull-right">VAT 20%</span></th>
                                    <th>£50.00</th>
                                </tr>
                                <tr>
                                    <th colspan="4"><span class="pull-right">Total</span></th>
                                    <th>£300.00</th>
                                </tr>
                                
                                <tr>
                                    <td colspan="4"><a routerLink="/cart" class="btn btn-primary">Continue Shopping</a></td>
                                    <td><a href="#" class="pull-right btn btn-success">Checkout</a></td>
                                </tr>
                            </tbody>
                        </table>                    
                    
                    
                    </div>
                    <div class="ratings">
                        <p class="pull-right">3 reviews</p>
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            4.0 stars
                        </p>
                    </div>
                </div>

                <div class="well">

                    <div class="text-right">
                        <a class="btn btn-success">Leave a Review</a>
                    </div>

                    <hr>

            
            </div>               

            </div>

        </div>

    </div>

</div>
<!-- /.container -->

<div class="container">

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Your Website 2014</p>
            </div>
        </div>
    </footer>

</div>
<!-- /.container -->