<!-- Page Content -->
<div class="container">
    <div class="row">
        <!-- <div class="col-md-3"> <sidebar>La sidebar </sidebar> </div> -->
        <!-- <div class="col-md-9"> -->
            <!-- <div class="row carousel-holder"> <slider>Le slider</slider> </div> -->
            <div class="row"> <section>La section</section> </div>
        <<!-- /div> -->
    </div>
</div>
<!-- /.container -->

<div class="container">
    <hr>
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Your Website 2014</p>
            </div>
        </div>
    </footer>

</div>
<!-- /.container -->
