<!-- container -->
<div class="container" style="margin-top:40px">
    <div class="row">
        <br>   
        <br>   
        <br>   
        <br>             
        <form  #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm.value)">
            <caption>Formulaire d'ajout</caption>
            <div class="form-group">
                <label for="login">Login</label>
                <input type="text" class="form-control" name="login" id="login" placeholder="Login..." ngModel>
            </div>
            <div class="form-group">
                <label for="password">Type</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="Password..." ngModel>
            </div>
            <button type="submit" class="btn btn-primary">Connexion</button>
        </form>
    </div>
</div>

<!-- /.container -->

<div class="container">
    <hr>
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Your Website 2014</p>
            </div>
        </div>
    </footer>
    <!-- Footer -->
</div>
<!-- /.container -->