<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" routerLink="/home">Hight Tech Shop</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a routerLink="/home">Home</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Contact</a></li>
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cart <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="container">
                                <h1>Shopping Cart</h1><hr>
                                <table *ngIf="cart.length !== 0" class="table table-striped table-hover table-bordered">
                                    <tbody>
                                        <tr>
                                            <th class="col-md-1">#</th>
                                            <th class="col-md-8">Item</th>
                                            <th class="col-md-1">QTY</th>
                                            <th class="col-md-1">Unit Price</th>
                                            <th class="col-md-1">Total Price</th>
                                        </tr>
                                        <tr *ngFor = "let item of cart">
                                            <td col-md-1>
                                                <a (click)="removeFromCart(item)" class="btn btn-danger"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>
                                            </td>
                                            <td>{{ item.nom }}</td>
                                            <td>1 <a href="#">X</a></td>
                                            <td>£{{ item.prix }}</td>
                                            <td>£250.00</td>
                                        </tr>
                                        <tr>
                                            <th colspan="4"><span class="pull-right">Sub Total</span></th>
                                            <th>£250.00</th>
                                        </tr>
                                        <tr>
                                            <th colspan="4"><span class="pull-right">VAT 20%</span></th>
                                            <th>£50.00</th>
                                        </tr>
                                        <tr>
                                            <th colspan="4"><span class="pull-right">Total</span></th>
                                            <th>£300.00</th>
                                        </tr>
                                        
                                        <tr>
                                            <td colspan="4"><a routerLink="/cart" class="btn btn-primary">Continue Shopping</a></td>
                                            <td><a href="#" class="pull-right btn btn-success">Checkout</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <h3 *ngIf="cart.length == 0"> Votre panier est vide</h3>
                            </div>                
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>