<!-- container -->
<div class="container" style="margin-top:40px">
    <div class="row">
        <br>   
        <br>   
        <br>   
        <br>             
        <form  #addProduitForm="ngForm" (ngSubmit)="addProduit(addProduitForm.value)">
            <caption>Formulaire d'ajout</caption>
            <div class="form-group">
                <label for="nom">Nom</label>
                <input type="text" class="form-control" name="nom" id="nom" placeholder="Nom..." ngModel>
            </div>
            <div class="form-group">
                <label for="type">Type</label>
                <input type="text" class="form-control" name="type" id="type" placeholder="Type..." ngModel>
            </div>
            <div class="form-group">
                <label for="marque">Marque</label>
                <input type="text" class="form-control" name="marque" id="marque" placeholder="Marque..." ngModel>
            </div>
            <div class="form-group">
                <label for="prix">Prix</label>
                <input type="text" class="form-control" name="prix" id="prix" placeholder="Prix..." ngModel>
            </div>
            <div class="form-group">
                <label for="qtte">Quantity</label>
                <input type="text" class="form-control" name="qtte" id="qtte" placeholder="Quantity..." ngModel>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" name="description" id="description" placeholder="Description..." ngModel></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

<!-- /.container -->

<div class="container">
    <hr>
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Your Website 2014</p>
            </div>
        </div>
    </footer>
    <!-- Footer -->
</div>
<!-- /.container -->