<!-- SIDEBAR -->
<div class="col-md-3">
    <br>
    <p class="lead">Shop Name</p>

    <div class="input-controls">
        <h4>Par marque</h4>
        <div *ngFor = "let marque of marques">
            <label>
                <input type="checkbox" (click)="onCheckedMarque(marque)" />
                {{ marque.nom }}
            </label>
        </div>
    </div>

    <div class="input-controls">
        <h4>Par marque</h4>
        <div *ngFor = "let type of types">
            <label>
                <input type="checkbox" (click)="onCheckedType(type)" />
                {{ type.nom }}
            </label>
        </div>
    </div>
</div>
<!-- ./SIDEBAR -->


<!-- -->
<div class="col-md-9">
    <!-- SLIDER -->
    <div class="row carousel-holder"> 
        <slider>Le slider</slider> 
    </div>
    <!-- ./ SLIDER -->
    
    <!-- SECTION -->
    <div class="row"> 
        <article *ngFor = "let produit of produits" class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <img src="http://placehold.it/320x150" alt="">
                <div class="caption">
                    <h4 class="pull-right">{{ produit.prix }}€</h4>
                    <h4><a [routerLink]="['/produit', produit._id]">{{ produit.nom }}</a></h4>
                    <p>{{ produit.marque }}</p>
                    <p>{{ produit.type }}</p>            
                    <p>{{ produit.description }}</p>
                </div>
                <div class="ratings">
                    <p>
                        <a (click)="addToCart(produit)" class="btn btn-primary">Buy Now!</a> 
                        <a [routerLink]="['/produit', produit._id]" class="btn btn-default">More Info</a>
                    </p>
                </div>
            </div>
        </article>

        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <img src="http://placehold.it/320x150" alt="">
                <div class="caption">
                    <h4 class="pull-right">$64.99</h4>
                    <h4><a href="#">Second Product</a>
                    </h4>
                    <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <div class="ratings">
                    <p class="pull-right">12 reviews</p>
                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- ./SECTION -->
</div>