<br>
<p class="lead">Shop Name</p>

<div class="input-controls">
    <h4>Par marque</h4>
    <div *ngFor = "let marque of marques">
        <label>
            <input type="checkbox" (click)="onCheckedMarque(marque)" />
            {{ marque.nom }}
        </label>
    </div>
</div>

<div class="input-controls">
    <h4>Par marque</h4>
    <div *ngFor = "let type of types">
        <label>
            <input type="checkbox" (click)="onCheckedType(type)" />
            {{ type.nom }}
        </label>
    </div>
</div>